/* ***************************************
Responsive
*************************************** */
@media only screen and (max-width: 399px) {
    .introduction, .content, .information{height: auto;}
    .introduction {grid-area: intr; display: none;}
    .information {grid-area: info; display: none;}
    .collapse {grid-area: collap; display: block;}
    .wrapper {
        display: grid;
        grid-gap: 2px 0px;
        grid-template-columns: 100%;
        grid-template-areas:
        "nav"
        "conte"
        "intr"
        "info"
        "collap"
        "footer";
    }

    /* ***************************************
    Navigation
    *************************************** */
    .container-navigation{grid-tempero plate-columns: 100%;}
    .nav{display: none;}

    /* ***************************************
    Game
    *************************************** */
    .tittle-game{height: 25px;}
    .tittle-game h3{padding: 0px;}

    .container-game{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "machine machine"
        "add-mach add-mach"
        "bet btn-play";
    }

    .img-machine{
        background-size: 200px 200px;
        height: 200px;
        width: 200px;
    }
    .contenedor-address{width: 100%;}
    .address-machine input{width: 100%; font-size: 12px;}
    .contenedor-profit{margin: 0px;}
    .btn-play{width: auto; margin: 0px;}

    #svg{
        top: 82px;
        height: 117px;
    }
    /* ***************************************
    Collapse movil
    *************************************** */
    .tab ol{padding-left: 20px;}
    .tab ol li p{
        margin: 0px;
        font-size: 13px;
    }

    .address-game{letter-spacing: -1.8px;}

    .tab ol li img{
        height: 50px;
        width: 50px;
    }

    input:checked ~ .tab-content {max-height: 16em;}

    /* ***************************************
    Footer
    *************************************** */
    .container-footer{
        display: grid;
        grid-gap: 10px 0px;
        grid-template-columns: 100%;
        grid-template-areas:
        "social"
        "copyr"
        "c-btn-news";
    }

    .social-img{text-align: center;}
    .con-btn-news{margin: 0px;}
    .btn-news{width: 100%;}
}
@media only screen and (max-width: 480px){
    .faqs, .terms, .contact{display: none !important;}
    .content{opacity: 1 !important;}
    .information{display: none !important;}
    #how-play-modal .contenedor-premios img{width: 49%;}


    /* ***************************************
    Footer
    *************************************** */
    .con-btn-news{display: none;}
    /* ***************************************
    Free bets
    *************************************** */
    .contenedor-btn-reglas{
        text-align: center;
        margin-top: 5px;
    }

    .img-promo-acostada{
        width: 100%;
        height: auto;
        display: block;
    }

    .contenedor-Bdatos h2{
        text-align: center;
    }

    .search input{position: initial!important; opacity: 1;}

    .title-bets .title-adr{width: 65%;}
    .title-bets .title-bets{width: 32%;}
    .title-bets .title-bets p, .title-bets .title-adr p{margin: 0px;}
    .title-bets .title-adr p{
        text-align: end;
        margin-right: 10px;
    }
    .title-bets .title-bets p{text-align: end;}
    .contenedor-player-bets .posicion-player{width: 9%;}
    .img-player img{width: 28px; height: 28px;}
    .contenedor-player-bets .adr-bet{width: 65%;}
    .adr-res, .total-bet p{margin:6px 3px!important;}
}
@media only screen and (max-width: 480px) and (orientation: portrait){
    .img-fluid{width: auto}
    .contenedor-transparencia .img-fluid{width: 100%;}
    .contenedor-prizes{width: 100%; height: auto;}
    .contenedor-prizes .img-fluid{width: 100% !important;}
    .faqs, .terms, .contact{display: none;}
}
@media only screen and (max-width: 768px){
    .modal{top:15px;}
    .modal-body{font-size: 13px;}
    .modal-content{width: 92%;}
    #pote{
        top: -94px;
        font-size: 1em;
    }
}
@media screen and (max-width: 480px) and (min-width: 400px){
    .introduction, .content, .information{height: auto;}
    .introduction {grid-area: intr; display: none;}
    .information {grid-area: info; display: none;}
    .collapse {grid-area: collap; display: block;}
    .wrapper {
        display: grid;
        grid-gap: 2px 0px;
        grid-template-columns: 100%;
        grid-template-areas:
        "nav"
        "conte"
        "intr"
        "info"
        "collap"
        "footer";
    }

    /* ***************************************
    Navigation
    *************************************** */
    .container-navigation{grid-template-columns: 100%; text-align: center;}
    .img-fluid{width: 70%}
    .nav{display: none;}

    /* ***************************************
    Game
    *************************************** */
    .tittle-game{height: 25px;}
    .tittle-game h3{padding: 0px;}

    .img-machine{
        background-size: 200px 200px;
        height: 200px;
        width: 200px;
    }

    .btn-play{width: auto;}

    #svg{
        top: 82px;
        height: 117px;
    }

    .contenedor-profit{
        margin-left: 31px;
    }

    .btn-play {
        text-align: end;
        margin-right: 30px;
    }
    /* ***************************************
    Collapse movil
    *************************************** */
    .tab ol{padding-left: 20px;}
    .tab ol li p{
        margin: 0px;
        font-size: 13px;
    }

    .tab ol li img{
        height: 50px;
        width: 50px;
    }

    input:checked ~ .tab-content {max-height: 16em;}



    /* ***************************************
    Footer
    *************************************** */
    .container-footer{
        display: grid;
        grid-gap: 10px 0px;
        grid-template-columns: 100%;
        grid-template-areas:
        "social"
        "copyr"
        "c-btn-news";
    }

    .social-img{text-align: center;}
    .con-btn-news{margin: 0px;}
    .btn-news{
        width: 90%;
        margin: 0px auto;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px){
    .introduction, .content, .information{height: 450px;}
    .faqs, .terms, .contact, .free-bets{height: 480px;}
    .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "nav nav"
        "intr conte"
        "info info"
        "footer footer";
    }

    /* ***************************************
    Navigation
    *************************************** */
    .container-navigation{grid-template-columns: 30% 70%}
    .nav ul{font-size: 11px;}

    /* ***************************************
    How to play
    *************************************** */
    @media screen and (max-width: 537px) and (min-width: 481px){.container-introduction p{font-size: 16px;}}
    .wallets li{
        width: 36px;
        height: 36px;
    }

    /* ***************************************
    Game
    *************************************** */

    .img-machine{
        background-size: 200px 200px;
        height: 200px;
        width: 200px;
        margin-top: 80px;
    }

    #svg {
        top: 81px;
        height: 117px;
    }

    .contenedor-address{width: 100%;}
    .contenedor-address p {font-size: 12px;}
    .contenedor-profit{
        margin: 0px;
        width: 128px;
    }
    .bet input{width: 115px;}
    .btn-play{width: auto; margin: 0px;}

    /* ***************************************
    Footer
    *************************************** */
    .social-img{text-align: center;}

    .social-img img{
        margin-left: 0px;
        height: 35px;
        width: 35px;
    }
    @media screen and (max-width: 516px) and (min-width: 481px){.social-img img{height: 25px; width: 25px;}}
    @media screen and (max-width: 556px) and (min-width: 517px){.social-img img{height: 30px; width: 30px;}}

    .con-btn-news{margin: 0px;}
    .btn-news{
        width: 200px;
        margin: 0px auto;
    }
    /* ***************************************
    Prizes
    *************************************** */
    .contenedor-prizes{width: 70vw; height: 78vh;}
    .contenedor-prizes .img-fluid{width: 100% !important;}


    .contenedor-free-bets{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "b-promocion b-promocion"
        "b-datos b-datos";
        width: 92%;
    }


    /* ***************************************
    Free bets
    *************************************** */
    .img-promo-pie{display: none;}
    .img-promo-acostada{
        display: block;
        margin: 0px auto;
    }

    .img-promo img{
        width: 84%;
    }

    .contenedor-btn-reglas{margin-top: 5px;}

}
@media screen and (max-width: 768px) and (min-width: 481px) and (orientation: landscape){
    .introduction, .content,{height: auto;}
    .information {height: 430px;}
}

@media screen and (max-width: 1024px) and (min-width: 769px){
    /* .introduction, .content, .information{height: auto;} */
    @media screen and (max-width: 1022px) and (min-width: 769px){
        .introduction, .content{height: 510px;}
        .information {height: 430px;}
        .faqs, .terms, .contact{height: 535px;}
    }
    .wrapper {
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "nav nav"
        "intr conte"
        "info info"
        "footer footer";
    }

    .contenedor-profit{margin-left: 38px;}
    .btn-play{
        text-align: end !important;
        margin-right: 38px;
    }

    @media screen and (max-width: 1024px) and (min-width: 1023px){
        /* .introduction, .content{height: 510px;}
        .information {height: 430px;}
        .faqs, .terms, .contact{height: 535px;} */
        .wrapper{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
            "nav nav nav"
            "intr conte info"
            "footer footer footer";
        }

        .img-machine{
            background-size: 300px 300px !important;
            height: 300px !important;
            width: 300px !important;
            margin-top: 30px !important;
        }

        .address-machine input{width: 100%;}

        .introduction li {
            margin-bottom: 50px !important;
        }

        .faqs, .terms, .contact{height: 80vh !important;}

        #pote{
            top: -132px;
            font-size: 1.3em;
        }
    }

    /* ***************************************
    Navigation
    *************************************** */
    .nav li{font-size: 12.5px;}

    /* ***************************************
    How to play
    *************************************** */
    .wallets{height: 50px;}

    /* ***************************************
    game
    *************************************** */
    .btn-play{text-align: center; width: auto;}
    #svg{
        top: 144px;
        height: 201px;
    }
    @media screen and (max-width: 1024px) and (min-width: 1023px){ #svg{top: 124px; height: 175px; }}

    /* ***************************************
    Footer
    *************************************** */
    .social-img img{margin-left: 5px;}
    @media screen and (max-width: 801px) and (min-width: 769px){.social-img img{height: 40px; width: 40px;}}


}
@media screen and (max-width: 1175px) and (min-width: 769px){
    .img-machine{
        background-size: 350px 350px;
        height: 350px;
        width: 350px;
    }
}

@media screen and (max-width: 1175px) and (min-width: 1025px){ #svg{top: 142px; height: 203px; } }


/* ***************************************
Responsive
*************************************** */
@media only screen and (min-width: 1200px) {
    .introduction {grid-area: intr; height: 80vh}
    .content {grid-area: conte; height: 80vh}
    .information {grid-area: info; height: 80vh}
    .modal-content{width: 730px !important;}
}
@media only screen and (min-width: 769px) {
    /* ***************************************
    How to play
    *************************************** */
    .container-introduction ol{margin: 0px;}
    .container-introduction li{margin-bottom: 25px;}
}
@media only screen and (min-width: 1500px) {
    .container-introduction ol{
        margin: 55px 0px;
    }

    .machine{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        margin-top: 70px;
    }
}
