/* ***************************************
Free bets
*************************************** */
.free-bets-promocion{grid-area: b-promocion;}
.free-bets-datos{grid-area: b-datos;}
.free-bets-chat{grid-area: b-chat;}
.contenedor-free-bets{
    display: grid;
    grid-gap: 13px 20px;
    grid-template-areas: 
    "b-promocion b-datos"
    "b-chat b-chat";
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    width: 80%;
    margin:0 auto;
}

/* IMG de la promo */
.free-bets-promocion, .free-bets-promocion-m{
    background-color: rgb(18,17,30);
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border: none;
    overflow: hidden;
    border-width: 9px;
    border-style: outset;
    border-color: #32a0d1;
    padding: 1% 5% 0% 5%;
}
.free-bets-promocion h2, .free-bets-promocion-m{
    color: #feda33;
    text-shadow: 2px 2px 1px rgb(29, 94, 125);
    margin-top: 0px;
    font-weight: bold;

}

.free-bets-promocion h3{font-size: 40px;}
.free-bets-promocion-m h3{font-size: 30px;}

.free-bets-promocion h3, .free-bets-promocion-m h3{
    color: white;
    text-shadow: 2px 2px 1px #ff0000;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

.contenedor-btn-freeBets{text-align: center;}
.btn-free-bet{
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px rgb(0,0,0);
    margin-bottom: 10px;
}

/* Slider */
.contenedor-promocion{
    overflow: hidden;
}

.contenedor-promocion h2{
    font-weight: bold;
    color: red;
    text-shadow: 1px 1px 1px rgb(0,0,0);
    text-align: center;
    font-family: 'Archivo Black'
}

.contenedor-slider, .contenedor-slider-m{
    width: 100%;
    position: relative;
    white-space: nowrap;
    left: 0px;
}

.slider, .slider-m{
    width: 100%;
    position: relative;
    white-space: normal;
    display: inline-block;
    margin-right: -4px;
}
.negro{color: #f13b3b;}

.slider-content{ padding: 15px; }

.slider-content p, .slider-content-m p{
    margin: 1em 0px;
    color: #d6e6f3;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(48, 55, 255);
}

.slider-content p{ font-size: 27px; }
.slider-content-m p{font-size: 13px; }

.contenedor-controles, .contenedor-controles-m{
    width: 100%;
    height: auto;
}
.contenedor-controles-m{margin-top: 10px;}
.controls ul, .controls-m ul{
    padding: 0px;
    text-align: center;
    position: relative;
    bottom: 1em;
    margin: 0px;
    width: 100%;
    z-index: 0;
}

.controls li, .controls-m li{
    list-style-type: none;
    background-color: #243065;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgb(0,0,0);
    margin-right: 15px;
    display: inline-block;
    cursor: pointer;
}

.controls li.active, .controls-m li.active{
    background-color: #32a0d1;
}

/* Seccion de los datos de los tiros */

.free-bets-datos, .free-bets-datos-m{
    background-color: #151515;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-width: 10px;
    border-style: dashed solid;
    border-color: #920303;
    overflow: hidden;
    padding: 1% 5% 0px 5%;
}
.free-bets-datos, .free-bets-datos-m  p{
    color: white;
}
/*seccion decomentarios*/
.free-bets-chat
{
    background-color: #151515;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-width: 10px;
    border-style: groove;
    border-color: chartreuse;
    overflow: hidden;
    padding: 1% 5% 0px 5%;
}
#tt{
    width: -webkit-fill-available;
    line-height: 3em;
    border-radius: .3em;
}


.contenedor-free-bets h2{text-align: start;}
.free-bets-datos .controls li, .free-bets-datos-m .controls li{
    border-radius: 0px;
    height: 8px;
}
.contenedor-promocion{
    border-radius: 5px;
    height: auto;
    width: 100%;
}

.contenedor-Bdatos{
    height: max-content;
    width: 100%;
}

.contenedor-Bdatos h2{ color: #fed232; }

.contenedor-Bdatos .search, .contenedor-Bdatos .con-table{
    margin:0px auto;
    width: 90%;
}

.contenedor-Bdatos .search{text-align: center;}

.contenedor-Bdatos .con-table{margin-bottom: 10px;}

.contenedor-Bdatos .search input{
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0,0.5);
    height: 35px;
    outline: 0;
    padding: 0px 10px;
    text-align: center;
    width: 90%;
    margin: 0px auto;
}

.contenedor-Bdatos .search button{
    height: 35px;
    width: 69px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0,0.5);
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.contenedor-Bdatos .search button:focus {outline: 0;}
.contenedor-Bdatos .search button:hover{cursor: pointer;}
.contenedor-Bdatos .search #btn-private{ background-color: rgb(255, 0, 0); }
.contenedor-Bdatos .search #btn-all{ background-color: rgb(0, 29, 255); }

.title-bets{margin-top: 5px;}
.title-bets div{ display: inline-flex; }
.title-bets .title-adr{width: 77%;}
.title-bets .title-bets{width: 20%;}
.title-bets p{
    width: 100%;
    text-align: center;
    color: #fdee34;
    font-weight: bold;
    font-size: 18px;
}

.contenedor-Bdatos .con-table{text-align: center;}
.contenedor-player-bets{
    width: 100%;
    text-align: center;
    background-color: #001335;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0,0.5);
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
}
.contenedor-player-bets div{ display: inline-flex; }
.contenedor-player-bets .posicion-player{width: 6%;}
.contenedor-player-bets .adr-bet{width: 69%;}
.contenedor-player-bets .total-bet{width: 15%;}
.contenedor-player-bets .img-player{
    width: 10%;
    position: relative;
    top: 9px;
}
.img-player img{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin: 0px auto;
}
.total-bet p {width: 100%;}
.adr-res{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 14px;
}

#reglas-modal table th{
    padding-right: 15px;
    color: rgb(254, 210, 50);
}

#reglas-modal table{
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(255, 210, 50, 0.9);
}
