.red {
    background-color: #FF324A;
    height: 2em;
  }
  
  .green {
    background-color: #31FFA6;
    height: 2em;
  }
  
  .blue {
    background-color: #206EFF;
    height: 2em;
  }
  
  .yellow {
    background-color: yellow;
    height: 2em;
  }