/* ***************************************
How to play
*************************************** */
.container-introduction{
    width: 100%;
    overflow: auto;
    height: 100%;
}

.tittle-how-to-play{
    background-color: #f7f6e7;
    border-radius: 5px;
    color: red;
    text-align: center;
    height: 40px;
    position: sticky;
    top: 0px;
}

.tittle-how-to-play h3{
    margin: 0px;
    padding: 10px 0px;
}

.text-small{
    font-size: 13px !important;
    text-align: center;
    margin: 0px;
    font-weight: bold;
}
.container-introduction ol{padding-left: 24px;}
.container-introduction ol p{margin: 12px 0px;}
.container-introduction p {font-size: 18px;}

.wallets ul{
    text-decoration: none;
    padding: 0px;
}
.wallets li{
    display: inline-block;
    height: 44px;
    width: 44px;
}

.contenedor-premios{width: 80%;}
.links{
    color: #59c8cc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}
div:focus{background-color: yellow;}
.links:hover{cursor: pointer;}

.address-game{
    letter-spacing: -1.8px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.4);
    padding: 5px;
    transition: all 500ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.address-game:hover{
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.9);
    font-weight: bold;
    cursor: pointer;
}


.cuerpo-how-to-play button{
    color: black;
    font-weight: bold;
    border: 1px solid #fed632;
    border-radius: 10px;
    height: 57px;
    width: 50%;
    background-color: #fed632;
    transition: all 500ms;
    font-size: 13px;
}

.btn-prizes:hover{
    cursor: pointer;
    box-shadow: 1px 5px 1px #8a7311b0;
}

/* ***************************************
Game
*************************************** */
.tittle-game{
    background-color: #f7f6e7;
    border-radius: 5px;
    color: red;
    text-align: center;
    height: 40px;
}

.tittle-game h3{
    margin: 0px;
    padding: 10px 0px;
}

.machine {grid-area: machine;}
.address-machine{grid-area: add-mach;}
.bet {grid-area: bet;}
.btn-play {grid-area: btn-play;}

.container-game{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "machine machine machine machine"
    "add-mach add-mach add-mach add-mach"
    "bet bet btn-play btn-play";
}

.machine{margin: 0px auto;}

.img-machine, .img-machine-juguete{
    background: url("../assets/game/machine.png");
    background-size: 350px 350px;
    height: 350px;
    width: 350px;
}

#pote, #pote-juguete, #pote-juguete-m{
    position: relative;
    top: -150px;
    left: 0px;
    font-size: 27px;
    font-weight: bold;
    color: #fed632;
    text-align: center;
    text-shadow: 3px 3px 1px #43100d;
}

#article{
    display:inline-block;
    position: absolute;
    top: 297px;
    width: 399px;
    height: 226px;
    overflow: hidden;
}

#article div{
    width: 5rem;
    height: 5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-top:5px;
    margin-bottom: 5px;
    float:left;
}

.slot-1{margin-left: 37px;}
.slot-2{margin-left: 45px;}
.slot-3{margin-left: 47px;}

.bet{
    text-align: end;
    margin-right: 20px;
}
.bet input{width: 142px;}
.contenedor-address{
    width: 340px;
    background: #001335;
    border-radius: 5px;
    height: 25px;
    margin: 0px auto;
    padding-top: 7px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0,0.5);
}

/* contenedores con metamask */
#contenedor_address_machine{
    text-align: center;
}
#contenedor_address_machine input{
    width: 66%;
    height: 26px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    text-align: center;
}

#contenedor_apuesta_machine input{
    width: 62%;
    height: 26px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    text-align: center;
}
#contenedor_apuesta_machine label{
    font-weight: bold;
}


.contenedor-address p{
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align:center;
    font-size: .8em;
    color: white;
}

.contenedor-profit p{
    margin: 0px;
    font-weight: bold;
    color: white;
}
.contenedor-profit{
    width: 142px;
    height: 26px;
    margin-left: 100px;
    background-color: #001335;
    border-radius: 5px;
    text-align: center;
    padding-top: 6px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0,0.5);
}

.btn-play{
    text-align: center;
    margin-right: 18px;
}

.btn-play input{
    width: 80px;
    height: auto;
}

.remove{
    color: black;
    -webkit-animation: parpadeo 3s 3;
            animation: parpadeo 3s 3;
}

.btn_video{
    background-color: #ffd200;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    height: 29px;
    width: 200px;
    cursor: pointer;
    margin-bottom: 5%;
}
/* ***************************************
Chat o tabla
*************************************** */
.chat{
    overflow: auto;
    height: 100%;
}

.tittle-chat{
    background-color: #f7f6e7;
    border-radius: 5px;
    color: red;
    text-align: center;
    height: 40px;
    transition: all 500ms;
    position: sticky;
    top: 0px;
}

.tittle-chat:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.tittle-chat h3{
    margin: 0px;
    padding: 10px 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.activo{
    font-weight: bold;
    color: black !important;
}

.active_btn{
    background-color: #fdd432 !important;
    color: black;
    font-weight: bold;
}

#datos{margin-top: 10px;}
#chat-con{visibility: hidden;}

.rojo{
  color: rgb(255, 0, 0) !important;
  font-weight: 800;
}

.verde{
  color: rgb(0, 195, 6) !important;
  font-weight: 800;
}

.contenedor_datos{
    background-color: #001335;
    border-radius: 5px;
    padding: 0 3px;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contenedor_datos:hover{
    cursor: pointer;
    background-color: #fdd432;
    color: black;
    font-weight: bold;

}
.contenedor_datos:active{background-color: rgb(159,0,167);}

.contenedor_address{
    padding-left: 5px;
    padding-top: 5px;
}
.contenedor_address div {display: inline-block;}
.contenedor_address img{margin-right: 10px;}
.address{
    position: relative;
    top:-8px;
    width: 79%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blocki img{
    height: 35px;
    border-radius: 7px;
}

.contenedor_juego div{
    display: inline-block;
    margin: 0px 5px;
    width: max-content;
    font-size: 14px;
}
/* ***************************************
Footer
*************************************** */
.footer{color: black;}

.social-media {grid-area: social;}
.copyright {grid-area: copyr;}
.con-btn-news {grid-area: c-btn-news;}

.container-footer{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "social copyr c-btn-news";
}

.social-img{height: 48px;}
.social-img a{text-decoration: none;}
.social-img img{margin-left: 15px;}
.social-img img:hover{cursor: pointer;}

.copyright{text-align: center;}
.copyright p{
    margin: 0px;
    padding: 3px 0px;;
    font-size: 12px;
    font-weight: bold;
}

.con-btn-news{
    margin-left: auto;
    margin-right: 0px;
    text-align: center;
}

.btn-news{
    border-radius: 5px;
    color: red;
    height: 32px;
    width: 300px;
    padding-top: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    transition: all 500ms;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-news:hover{
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
}

.btn-news span{font-weight: bold;}
/* ***************************************
How to play
*************************************** */
.container-introduction{
    width: 70%;
    overflow: auto;
    height: 100%;
}

.tittle-how-to-play{
    background-color: #f7f6e7;
    border-radius: 5px;
    color: red;
    text-align: center;
    height: 40px;
    position: sticky;
    top: 0px;
}

.tittle-how-to-play h3{
    margin: 0px;
    padding: 10px 0px;
}

.text-small{
    font-size: 13px !important;
    text-align: center;
    margin: 0px;
    font-weight: bold;
}
.container-introduction ol{padding-left: 24px;}
.container-introduction ol p{margin: 12px 0px;}
.container-introduction p {font-size: 18px;}

.wallets ul{
    text-decoration: none;
    padding: 0px;
}
.wallets li{
    display: inline-block;
    height: 44px;
    width: 44px;
}

.contenedor-premios{width: 80%;}
.links{
    color: #59c8cc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}
div:focus{background-color: yellow;}
.links:hover{cursor: pointer;}

.address-game{
    letter-spacing: -1.8px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.4);
    padding: 5px;
    transition: all 500ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.address-game:hover{
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.9);
    font-weight: bold;
    cursor: pointer;
}


.cuerpo-how-to-play button{
    color: black;
    font-weight: bold;
    border: 1px solid #fed632;
    border-radius: 10px;
    height: 57px;
    width: 50%;
    background-color: #fed632;
    transition: all 500ms;
    font-size: 13px;
}

.btn-prizes:hover{
    cursor: pointer;
    box-shadow: 1px 5px 1px #8a7311b0;
}

/* ***************************************
Game
*************************************** */
.tittle-game{
    background-color: #f7f6e7;
    border-radius: 5px;
    color: red;
    text-align: center;
    height: 40px;
}

.tittle-game h3{
    margin: 0px;
    padding: 10px 0px;
}

.machine {grid-area: machine;}
.address-machine{grid-area: add-mach;}
.bet {grid-area: bet;}
.btn-play {grid-area: btn-play;}

.container-game{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "machine machine machine machine"
    "add-mach add-mach add-mach add-mach"
    "bet bet btn-play btn-play";
}

.machine{margin: 0px auto;}

.img-machine, .img-machine-juguete{
    background: url("../assets/game/machine.png");
    background-size: 350px 350px;
    height: 350px;
    width: 350px;
}

#pote, #pote-juguete, #pote-juguete-m{
    position: relative;
    top: -150px;
    left: 0px;
    font-size: 27px;
    font-weight: bold;
    color: #fed632;
    text-align: center;
    text-shadow: 3px 3px 1px #43100d;
}

#article{
    display:inline-block;
    position: absolute;
    top: 297px;
    width: 399px;
    height: 226px;
    overflow: hidden;
}

#article div{
    width: 5rem;
    height: 5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-top:5px;
    margin-bottom: 5px;
    float:left;
}

.slot-1{margin-left: 37px;}
.slot-2{margin-left: 45px;}
.slot-3{margin-left: 47px;}

.bet{
    text-align: end;
    margin-right: 20px;
}
.bet input{width: 142px;}
.contenedor-address{
    width: 340px;
    background: #001335;
    border-radius: 5px;
    height: 25px;
    margin: 0px auto;
    padding-top: 7px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0,0.5);
}

/* contenedores con metamask */
#contenedor_address_machine{
    text-align: center;
}
#contenedor_address_machine input{
    width: 66%;
    height: 26px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    text-align: center;
}

#contenedor_apuesta_machine input{
    width: 62%;
    height: 26px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    text-align: center;
}
#contenedor_apuesta_machine label{
    font-weight: bold;
}


.contenedor-address p{
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align:center;
    font-size: .8em;
    color: white;
}

.contenedor-profit p{
    margin: 0px;
    font-weight: bold;
    color: white;
}
.contenedor-profit{
    width: 142px;
    height: 26px;
    margin-left: 100px;
    background-color: #001335;
    border-radius: 5px;
    text-align: center;
    padding-top: 6px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0,0.5);
}

.btn-play{
    text-align: center;
    margin-right: 18px;
}

.btn-play input{
    width: 80px;
    height: auto;
}

.remove{
    color: black;
    -webkit-animation: parpadeo 3s 3;
            animation: parpadeo 3s 3;
}

.btn_video{
    background-color: #ffd200;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    height: 29px;
    width: 200px;
    cursor: pointer;
    margin-bottom: 5%;
}
/* ***************************************
Chat o tabla
*************************************** */
.chat{
    overflow: auto;
    height: 100%;
}

.tittle-chat{
    background-color: #f7f6e7;
    border-radius: 5px;
    color: red;
    text-align: center;
    height: 40px;
    transition: all 500ms;
    position: sticky;
    top: 0px;
}

.tittle-chat:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.tittle-chat h3{
    margin: 0px;
    padding: 10px 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.activo{
    font-weight: bold;
    color: black !important;
}

.active_btn{
    background-color: #fdd432 !important;
    color: black;
    font-weight: bold;
}

#datos{margin-top: 10px;}
#chat-con{visibility: hidden;}

.rojo{
  color: rgb(255, 0, 0) !important;
  font-weight: 800;
}

.verde{
  color: rgb(0, 195, 6) !important;
  font-weight: 800;
}

.contenedor_datos{
    background-color: #001335;
    border-radius: 5px;
    padding: 0 3px;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contenedor_datos:hover{
    cursor: pointer;
    background-color: #fdd432;
    color: black;
    font-weight: bold;

}
.contenedor_datos:active{background-color: rgb(159,0,167);}

.contenedor_address{
    padding-left: 5px;
    padding-top: 5px;
}
.contenedor_address div {display: inline-block;}
.contenedor_address img{margin-right: 10px;}
.address{
    position: relative;
    top:-8px;
    width: 79%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blocki img{
    height: 35px;
    border-radius: 7px;
}

.contenedor_juego div{
    display: inline-block;
    margin: 0px 5px;
    width: max-content;
    font-size: 14px;
}
/* ***************************************
Footer
*************************************** */
.footer{color: black;}

.social-media {grid-area: social;}
.copyright {grid-area: copyr;}
.con-btn-news {grid-area: c-btn-news;}

.container-footer{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "social copyr c-btn-news";
}

.social-img{height: 48px;}
.social-img a{text-decoration: none;}
.social-img img{margin-left: 15px;}
.social-img img:hover{cursor: pointer;}

.copyright{text-align: center;}
.copyright p{
    margin: 0px;
    padding: 3px 0px;;
    font-size: 12px;
    font-weight: bold;
}

.con-btn-news{
    margin-left: auto;
    margin-right: 0px;
    text-align: center;
}

.btn-news{
    border-radius: 5px;
    color: red;
    height: 32px;
    width: 300px;
    padding-top: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    transition: all 500ms;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-news:hover{
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
}

.btn-news span{font-weight: bold;}
/* ***************************************
How to play
*************************************** */
.container-introduction{
    width: 100%;
    overflow: auto;
    height: 100%;
}

.tittle-how-to-play{
    background-color: #f7f6e7;
    border-radius: 5px;
    color: red;
    text-align: center;
    height: 40px;
    position: sticky;
    top: 0px;
}

.tittle-how-to-play h3{
    margin: 0px;
    padding: 10px 0px;
}

.text-small{
    font-size: 13px !important;
    text-align: center;
    margin: 0px;
    font-weight: bold;
}
.container-introduction ol{padding-left: 24px;}
.container-introduction ol p{margin: 12px 0px;}
.container-introduction p {font-size: 18px;}

.wallets ul{
    text-decoration: none;
    padding: 0px;
}
.wallets li{
    display: inline-block;
    height: 44px;
    width: 44px;
}

.contenedor-premios{width: 80%;}
.links{
    color: #59c8cc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}
div:focus{background-color: yellow;}
.links:hover{cursor: pointer;}

.address-game{
    letter-spacing: -1.8px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.4);
    padding: 5px;
    transition: all 500ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.address-game:hover{
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.9);
    font-weight: bold;
    cursor: pointer;
}


.cuerpo-how-to-play button{
    color: black;
    font-weight: bold;
    border: 1px solid #fed632;
    border-radius: 10px;
    height: 57px;
    width: 50%;
    background-color: #fed632;
    transition: all 500ms;
    font-size: 13px;
}

.btn-prizes:hover{
    cursor: pointer;
    box-shadow: 1px 5px 1px #8a7311b0;
}

/* ***************************************
Game
*************************************** */
.tittle-game{
    background-color: #f7f6e7;
    border-radius: 5px;
    color: red;
    text-align: center;
    height: 40px;
}

.tittle-game h3{
    margin: 0px;
    padding: 10px 0px;
}

.machine {grid-area: machine;}
.address-machine{grid-area: add-mach;}
.bet {grid-area: bet;}
.btn-play {grid-area: btn-play;}

.container-game{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "machine machine machine machine"
    "add-mach add-mach add-mach add-mach"
    "bet bet btn-play btn-play";
}

.machine{margin: 0px auto;}

.img-machine, .img-machine-juguete{
    background: url("../assets/game/machine.png");
    background-size: 350px 350px;
    height: 350px;
    width: 350px;
}

#pote, #pote-juguete, #pote-juguete-m{
    position: relative;
    top: -150px;
    left: 0px;
    font-size: 27px;
    font-weight: bold;
    color: #fed632;
    text-align: center;
    text-shadow: 3px 3px 1px #43100d;
}

#article{
    display:inline-block;
    position: absolute;
    top: 297px;
    width: 399px;
    height: 226px;
    overflow: hidden;
}

#article div{
    width: 5rem;
    height: 5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-top:5px;
    margin-bottom: 5px;
    float:left;
}

.slot-1{margin-left: 37px;}
.slot-2{margin-left: 45px;}
.slot-3{margin-left: 47px;}

.bet{
    text-align: end;
    margin-right: 20px;
}
.bet input{width: 142px;}
.contenedor-address{
    width: 340px;
    background: #001335;
    border-radius: 5px;
    height: 25px;
    margin: 0px auto;
    padding-top: 7px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0,0.5);
}

/* contenedores con metamask */
#contenedor_address_machine{
    text-align: center;
}
#contenedor_address_machine input{
    width: 66%;
    height: 26px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    text-align: center;
}

#contenedor_apuesta_machine input{
    width: 62%;
    height: 26px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    text-align: center;
}
#contenedor_apuesta_machine label{
    font-weight: bold;
}


.contenedor-address p{
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align:center;
    font-size: .8em;
    color: white;
}

.contenedor-profit p{
    margin: 0px;
    font-weight: bold;
    color: white;
}
.contenedor-profit{
    width: 142px;
    height: 26px;
    margin-left: 100px;
    background-color: #001335;
    border-radius: 5px;
    text-align: center;
    padding-top: 6px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0,0.5);
}

.btn-play{
    text-align: center;
    margin-right: 18px;
}

.btn-play input{
    width: 80px;
    height: auto;
}

.remove{
    color: black;
    -webkit-animation: parpadeo 3s 3;
            animation: parpadeo 3s 3;
}

.btn_video{
    background-color: #ffd200;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    height: 29px;
    width: 200px;
    cursor: pointer;
    margin-bottom: 5%;
}
/* ***************************************
Chat o tabla
*************************************** */
.chat{
    overflow: auto;
    height: 100%;
}

.tittle-chat{
    background-color: #f7f6e7;
    border-radius: 5px;
    color: red;
    text-align: center;
    height: 40px;
    transition: all 500ms;
    position: sticky;
    top: 0px;
}

.tittle-chat:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.tittle-chat h3{
    margin: 0px;
    padding: 10px 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.activo{
    font-weight: bold;
    color: black !important;
}

.active_btn{
    background-color: #fdd432 !important;
    color: black;
    font-weight: bold;
}

#datos{margin-top: 10px;}
#chat-con{visibility: hidden;}

.rojo{
  color: rgb(255, 0, 0) !important;
  font-weight: 800;
}

.verde{
  color: rgb(0, 195, 6) !important;
  font-weight: 800;
}

.contenedor_datos{
    background-color: #001335;
    border-radius: 5px;
    padding: 0 3px;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contenedor_datos:hover{
    cursor: pointer;
    background-color: #fdd432;
    color: black;
    font-weight: bold;

}
.contenedor_datos:active{background-color: rgb(159,0,167);}

.contenedor_address{
    padding-left: 5px;
    padding-top: 5px;
}
.contenedor_address div {display: inline-block;}
.contenedor_address img{margin-right: 10px;}
.address{
    position: relative;
    top:-8px;
    width: 79%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blocki img{
    height: 35px;
    border-radius: 7px;
}

.contenedor_juego div{
    display: inline-block;
    margin: 0px 5px;
    width: max-content;
    font-size: 14px;
}
/* ***************************************
Footer
*************************************** */
.footer{color: black;}

.social-media {grid-area: social;}
.copyright {grid-area: copyr;}
.con-btn-news {grid-area: c-btn-news;}

.container-footer{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "social copyr c-btn-news";
}

.social-img{height: 48px;}
.social-img a{text-decoration: none;}
.social-img img{margin-left: 15px;}
.social-img img:hover{cursor: pointer;}

.copyright{text-align: center;}
.copyright p{
    margin: 0px;
    padding: 3px 0px;;
    font-size: 12px;
    font-weight: bold;
}

.con-btn-news{
    margin-left: auto;
    margin-right: 0px;
    text-align: center;
}

.btn-news{
    border-radius: 5px;
    color: red;
    height: 32px;
    width: 300px;
    padding-top: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    transition: all 500ms;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-news:hover{
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
}

.btn-news span{font-weight: bold;}
/* ***************************************
How to play
*************************************** */
.container-introduction{
    width: 100%;
    overflow: auto;
    height: 100%;
}

.tittle-how-to-play{
    background-color: #f7f6e7;
    border-radius: 5px;
    color: red;
    text-align: center;
    height: 40px;
    position: sticky;
    top: 0px;
}

.tittle-how-to-play h3{
    margin: 0px;
    padding: 10px 0px;
}

.text-small{
    font-size: 13px !important;
    text-align: center;
    margin: 0px;
    font-weight: bold;
}
.container-introduction ol{padding-left: 24px;}
.container-introduction ol p{margin: 12px 0px;}
.container-introduction p {font-size: 18px;}

.wallets ul{
    text-decoration: none;
    padding: 0px;
}
.wallets li{
    display: inline-block;
    height: 44px;
    width: 44px;
}

.contenedor-premios{width: 80%;}
.links{
    color: #59c8cc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}
div:focus{background-color: yellow;}
.links:hover{cursor: pointer;}

.address-game{
    letter-spacing: -1.8px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.4);
    padding: 5px;
    transition: all 500ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.address-game:hover{
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.9);
    font-weight: bold;
    cursor: pointer;
}


.cuerpo-how-to-play button{
    color: black;
    font-weight: bold;
    border: 1px solid #fed632;
    border-radius: 10px;
    height: 57px;
    width: 50%;
    background-color: #fed632;
    transition: all 500ms;
    font-size: 13px;
}

.btn-prizes:hover{
    cursor: pointer;
    box-shadow: 1px 5px 1px #8a7311b0;
}

/* ***************************************
Game
*************************************** */
.tittle-game{
    background-color: #f7f6e7;
    border-radius: 5px;
    color: red;
    text-align: center;
    height: 40px;
}

.tittle-game h3{
    margin: 0px;
    padding: 10px 0px;
}

.machine {grid-area: machine;}
.address-machine{grid-area: add-mach;}
.bet {grid-area: bet;}
.btn-play {grid-area: btn-play;}

.container-game{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "machine machine machine machine"
    "add-mach add-mach add-mach add-mach"
    "bet bet btn-play btn-play";
}

.machine{margin: 0px auto;}

.img-machine, .img-machine-juguete{
    background: url("../assets/game/machine.png");
    background-size: 350px 350px;
    height: 350px;
    width: 350px;
}

#pote, #pote-juguete, #pote-juguete-m{
    position: relative;
    top: -150px;
    left: 0px;
    font-size: 27px;
    font-weight: bold;
    color: #fed632;
    text-align: center;
    text-shadow: 3px 3px 1px #43100d;
}

#article{
    display:inline-block;
    position: absolute;
    top: 297px;
    width: 399px;
    height: 226px;
    overflow: hidden;
}

#article div{
    width: 5rem;
    height: 5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-top:5px;
    margin-bottom: 5px;
    float:left;
}

.slot-1{margin-left: 37px;}
.slot-2{margin-left: 45px;}
.slot-3{margin-left: 47px;}

.bet{
    text-align: end;
    margin-right: 20px;
}
.bet input{width: 142px;}
.contenedor-address{
    width: 340px;
    background: #001335;
    border-radius: 5px;
    height: 25px;
    margin: 0px auto;
    padding-top: 7px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0,0.5);
}

/* contenedores con metamask */
#contenedor_address_machine{
    text-align: center;
}
#contenedor_address_machine input{
    width: 66%;
    height: 26px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    text-align: center;
}

#contenedor_apuesta_machine input{
    width: 62%;
    height: 26px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    text-align: center;
}
#contenedor_apuesta_machine label{
    font-weight: bold;
}


.contenedor-address p{
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align:center;
    font-size: .8em;
    color: white;
}

.contenedor-profit p{
    margin: 0px;
    font-weight: bold;
    color: white;
}
.contenedor-profit{
    width: 142px;
    height: 26px;
    margin-left: 100px;
    background-color: #001335;
    border-radius: 5px;
    text-align: center;
    padding-top: 6px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0,0.5);
}

.btn-play{
    text-align: center;
    margin-right: 18px;
}

.btn-play input{
    width: 80px;
    height: auto;
}

.remove{
    color: black;
    -webkit-animation: parpadeo 3s 3;
            animation: parpadeo 3s 3;
}

.btn_video{
    background-color: #ffd200;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    height: 29px;
    width: 200px;
    cursor: pointer;
    margin-bottom: 5%;
}
/* ***************************************
Chat o tabla
*************************************** */
.chat{
    overflow: auto;
    height: 100%;
}

.tittle-chat{
    background-color: #f7f6e7;
    border-radius: 5px;
    color: red;
    text-align: center;
    height: 40px;
    transition: all 500ms;
    position: sticky;
    top: 0px;
}

.tittle-chat:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.tittle-chat h3{
    margin: 0px;
    padding: 10px 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.activo{
    font-weight: bold;
    color: black !important;
}

.active_btn{
    background-color: #fdd432 !important;
    color: black;
    font-weight: bold;
}

#datos{margin-top: 10px;}
#chat-con{visibility: hidden;}

.rojo{
  color: rgb(255, 0, 0) !important;
  font-weight: 800;
}

.verde{
  color: rgb(0, 195, 6) !important;
  font-weight: 800;
}

.contenedor_datos{
    background-color: #001335;
    border-radius: 5px;
    padding: 0 3px;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contenedor_datos:hover{
    cursor: pointer;
    background-color: #fdd432;
    color: black;
    font-weight: bold;

}
.contenedor_datos:active{background-color: rgb(159,0,167);}

.contenedor_address{
    padding-left: 5px;
    padding-top: 5px;
}
.contenedor_address div {display: inline-block;}
.contenedor_address img{margin-right: 10px;}
.address{
    position: relative;
    top:-8px;
    width: 79%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blocki img{
    height: 35px;
    border-radius: 7px;
}

.contenedor_juego div{
    display: inline-block;
    margin: 0px 5px;
    width: max-content;
    font-size: 14px;
}
/* ***************************************
Footer
*************************************** */
.footer{color: black;}

.social-media {grid-area: social;}
.copyright {grid-area: copyr;}
.con-btn-news {grid-area: c-btn-news;}

.container-footer{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "social copyr c-btn-news";
}

.social-img{height: 48px;}
.social-img a{text-decoration: none;}
.social-img img{margin-left: 15px;}
.social-img img:hover{cursor: pointer;}

.copyright{text-align: center;}
.copyright p{
    margin: 0px;
    padding: 3px 0px;;
    font-size: 12px;
    font-weight: bold;
}

.con-btn-news{
    margin-left: auto;
    margin-right: 0px;
    text-align: center;
}

.btn-news{
    border-radius: 5px;
    color: red;
    height: 32px;
    width: 300px;
    padding-top: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    transition: all 500ms;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-news:hover{
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
}

.btn-news span{font-weight: bold;}
